---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css'
import { Image } from 'astro:assets';

import { getCollection, type CollectionEntry } from 'astro:content';

const allPosts: CollectionEntry<'posts'>[] = (
	await getCollection('posts')
).sort((a, b) => a.data.updatedAt.valueOf() - b.data.updatedAt.valueOf());

console.log(allPosts)
---

<Layout title="What I Use - Danny Bao">
	<section>
		<h1>WELCOME TO</h1>
		<h2>A curated list of the tech I <span class="text-orange-500">use</span></h2>
		<p class="text-accent">Accent colour difference</p>
		<p>This website is primarily inspired by devaslife's page of the tech he uses. As a developer I wanted to give my own try of making a similar website to show off the daily items and tech that I use. If you've made it here thanks for stopping by.</p>
	</section>

	<section>
		<ul>
			{
				allPosts.map((post) => {
					const { image, title, description } = post.data
					return (
						<li class="text-center mb-4">
							<a href={`/posts/${post.slug}`}>
								<Image 
									class="border border-slate-300 dark:border-zinc-700 rounded-xl" 
									src={image.url} 
									width={720} 
									height={720 / 1.777} 
									alt={image.alt} 
									loading="lazy" 
								/>
								<div class="mt-3 text-xl font-bold">{title}</div>
								<div class="opacity-70">{description}</div>
							</a>
						</li>
					)
				})
			}
		</ul>
	</section>

	<section>
		<h1>Credits</h1>
		<ul>
			<li>
				Created with Astro
			</li>
			<li>
				Credits to Edward Kim for writing a blog post about his implementation of light/dark mode in Astro
			</li>
		</ul>
	</section>
</Layout>